<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Upload a video file</div>

                    <div class="panel-body">
                        <input type="file" name="video" id="video" @change="fileChange" v-if="!uploading">

                        <div id="upload-form" v-if="uploading && !failed">
                            upload form
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                uploading: false,
                uploadingCompleted: false,
                failed: false
            }
        },
        methods: {
            fileChange() {
                this.uploading = true;
                this.failed = false;
            }
        },
        mounted() {
            //
        }
    }
</script>
